In [1]:
m = "amol"

In [2]:
m

'amol'

In [3]:
type(m)

str

In [7]:
l = [1,2,3,4,5,6, "amol", 6.6, True, 6+6j]

In [8]:
type(l)

list

In [9]:
m = (1,2,3,4,5,6, "amol", 6.6, True, 6+6j)

In [10]:
type(m)

tuple

In [11]:
m = 6.6

In [12]:
m

6.6

In [13]:
type(m)

float

In [14]:
5/2

2.5

In [19]:
7%2

1

In [20]:
3//1

3

In [21]:
2**3

8

In [26]:
M = [1,2,3,4,5,6, "amol", 6.6, True, 6+7j]

In [27]:
m = "amol"
for i in m :
    print(i)

a
m
o
l

In [35]:
l = [1,2,3,4,5,6, "amol", 6.6, True, 6+7j]

In [36]:
for i in l :
    print(type(i))

<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'str'>
<class 'float'>
<class 'bool'>
<class 'complex'>

In [37]:
a = 5
b = 1
while b < a :
    print(b)
    b = b+1

1
2
3
4

In [38]:
m = [1,2,3,4,5,6, "amol", 6.6, True, 6+7j]

In [39]:
m [2] = 8

In [40]:
m

[1, 2, 8, 4, 5, 6, 'amol', 6.6, True, (6+7j)]

In [41]:
m = [1,2,3,4,5,6, "amol", 6.6, True, 6+7j]

In [42]:
m [6] = "mohite"

In [43]:
m

[1, 2, 3, 4, 5, 6, 'mohite', 6.6, True, (6+7j)]

In [44]:
a = "pwskiils"

In [45]:
a [7] = "d"

TypeError: 'str' object does not support item assignment

In [1]:
a = [2, 8, 10, 21, 36, 48, 55, 62, 75, 83, 96, 101, 114, 123, 136, 147, 150, 166, 175, 182, 198, 203, 217, 224, 236]

In [2]:
for element in a:
    if element % 3 == 0:
        print(element, "is divisible by 3")
    else:
        print(element, "is not divisible by 3")

2 is not divisible by 3
8 is not divisible by 3
10 is not divisible by 3
21 is divisible by 3
36 is divisible by 3
48 is divisible by 3
55 is not divisible by 3
62 is not divisible by 3
75 is divisible by 3
83 is not divisible by 3
96 is divisible by 3
101 is not divisible by 3
114 is divisible by 3
123 is divisible by 3
136 is not divisible by 3
147 is divisible by 3
150 is divisible by 3
166 is not divisible by 3
175 is not divisible by 3
182 is not divisible by 3
198 is divisible by 3
203 is not divisible by 3
217 is not divisible by 3
224 is not divisible by 3
236 is not divisible by 3

In [5]:
var = 'amol'

In [6]:
var

'amol'

In [7]:
type(var)

str

 following variables containing data

(i) var1 = ‘ ‘

Answer - The data type of var1 is a string.

(ii) var2 = ‘[ DS, ML, Python]’

Answer - The data type of var2 is also a string.

(iii) var3 = [ ‘DS’, ’ML’ , ‘Python’ ]

Answer - The data type of var3 is a list.

(iv) var4 = 1.

Answer - The data type of var4 is a float.